<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .v2 {color: red}
        .v1 {color: blue}
        .v3 {color: darkgreen}
    </style>
</head>
<body>

<h3><a class="v1" href="/v1/league/seriea/table">Serie A season 2017/2018</a></h3>
<h3><a class="v1" href="/v1/league/premierleague/table">Premier League season 2017/2018</a></h3>

<h3><a class="v2" href="/v2/league/seriea/table">Serie A season 2018/2019</a></h3>
<h3><a class="v2" href="/v2/league/premierleague/table">Premier League season 2018/2019</a></h3>

<h3><a class="v3" href="/v1">Rest season 2017/2018</a></h3>
<h3><a class="v3" href="/v2">Rest season 2018/2019</a></h3>

</body>
</html>